@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Estilos específicos para dispositivos móviles */
@media only screen and (min-width: 768px) {
  /* Estilos generales de la barra de desplazamiento */
  ::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra */
    height: 5px; /* Altura de la barra */
  }

  /* Estilo del riel */
  ::-webkit-scrollbar-track {
    background-color: #001021;
  }

  /* Estilo del pulgar */
  ::-webkit-scrollbar-thumb {
    background-color: #fcebc1; /* Color del pulgar */
    border-radius: 5px; /* Radio de los bordes del pulgar */
  }

  /* Estilo del pulgar cuando se desplaza */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c5af76; /* Color del pulgar en hover */
  }
}

body {
  color: #fcebc1;
  background-color: #001021;
  font-family: "hanuman", "hanuman", serif;
}
